<!DOCTYPE html>
<html>
  <%- include('head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <link
    rel="stylesheet"
    type="text/css"
    href="/stylesheets/progressive-image.css"
  />
  <script src="/javascripts/progressive-image.js"></script>
  <body>
  <%- include('navbar') -%>
  <br>
<div class="container-fluid form-container" id="main">
 <% for(var post of postList) { %>
 <% if(post.post.category === category)  { %> 
 <div class="gram-card">
    <div class="gram-card-header">
      <img src="<%= post.author.profile_picture %>" class="gram-card-user-image">
      <a class="gram-card-user-name" href="/u/@<%= post.post.author %>"><%= post.post.author %></a>
      
            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="<%= post.post.static_url %>"><i class="fa fa-share"></i> View</a></li>
                
              </ul>
              </div>
              <div class="time"><%= post.post.timeago %></div>
    </div>
<br>
<br>
    <div class="gram-card-image">
        <% if (post.post.code ) { %>
          <pre style="margin:5px;"><code class="language-<%= post.post.lang %>"><%= post.post.code %></code></pre>
        <% } %>
        <% if(post.post.static_url) { %>
        <center>
        <% if(['png','jpeg','jpg','gif','svg'].indexOf(post.post.type) >= 0) { %>
          <a href="<%= post.post.static_url %>" class="progressive replace">
              <img author="<%= post.post.author %>" src="" id="<%= post.post._id %>" class="post img-responsive lozad preview">
          </a>   
        <% } else if(['pdf','docx','txt'].indexOf(post.post.type) >= 0) { %>
            <iframe src="<%= post.post.static_url %>">
                <img author="<%= post.post.author %>" src="" id="<%= post.post._id %>" class="post img-responsive lozad preview">
            </iframe> 
        <% } else if(['mp3','wav','ogg','mpeg'].indexOf(post.post.type) >= 0) { %>
              <audio controls>
                  <source src="<%= post.post.static_url %>">
              </audio>         
        <% } else { %>
        <video author="<%= post.post.author %>" src="<%= post.post.static_url %>" id="<%= post.post._id %>" class="post img-responsive" controls></video>
        <% } %>
        </center>
        <% } %>
    </div>

    <div class="gram-card-content">
     
      <p><a style="color:indianred;" class="gram-card-content-user" href="/u/@<%= post.post.author %>"><%= post.post.author %></a>
        <%= post.post.caption %>
        <span class="label label-info"><%= post.post.category %></span>
        
     </p>

      <p class="comments"><%= post.post.comments.length %> comment(s).</p>
      <br>

      <div class="comments-div">
      
      <div>
        <% for(var c=0;c<post.post.comments.length;c++) { %>
        <a class="user-comment" href="/user/<%= post.post.comments[c].by %>">
        <%= post.post.comments[c].by %>
      </a>
       <%= post.post.comments[c].text %>
       <% } %>
     </div>
           
      </div>
    <hr>
    </div>  

    <div class="gram-card-footer">
      
      <button class="footer-action-icons likes btn btn-link non-hoverable" {{#if disabled}}disabled="true"{{/if}} onclick="like('{{_id}}')" id="{{_id}}">
        <i class="glyphicon glyphicon-thumbs-up"></i> <%= post.post.likes.length %></button>
      
      
      <input class="comments-input" id="input_{{_id}}" type="text" placeholder="Comment here..."/>
      <button class="footer-action-icons btn btn-link" onclick="comment('{{_id}}')"><i class="glyphicon glyphicon-comment"></i></button>
    </div>

  </div>

<br>
<br>

 <% } %>
  <% } %>       
  </div>
  <div id="notify_message" class=" notify_message-success">
    <center>You are now a part of Devbook!</center>
  </div>
  <%- include('tabs') -%><%- include('footer') -%>
  </body>
  <script type="text/javascript">
    show_notification(`Feeds by <%= category %>`,'success')
  </script>
  <script src="/javascripts/comment.js"></script>
  <script src="/javascripts/like.js"></script>
  
</html>
